# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\hasso\Desktop\Hu\Blok4\onlinestore\AdaptiveProgramming\Dijkstra Shortest Path & Datastructuren\Dijkstra Shortest Path & Datastructuren\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
